body{
    background-image: url(https://w0.peakpx.com/wallpaper/821/816/HD-wallpaper-digimon.jpg);
    background-color: rgba(245, 245, 220, 0.236);
    background-repeat: no-repeat;
    background-size: cover;
}